<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://www.rataalada.com/images/favicon.ico">
    <title> <?> </title>
    <link rel="stylesheet" href="../../estaticos/css/main.css">
    <script src="../../estaticos/js/main.js" defer></script>
</head>
<body>
    <div class="console">
        <div class=" console-history">
            {{ range .Datos}}
                <div class="console-input-log">{{ .Acertijo }}</div>
                <div class="console-output-log"> <?> {{ .Respuesta}} </div>
            {{end}}
        </div>

        <form action="/" method="get">
            <input name="input" class="console-input" type="text" autofocus spellcheck="false">
        </form>
        
    </div>
</body>
</html>
